* {
  text-decoration: none !important;
  list-style: none;
  font-size: 16px;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 3% !important;
}

.myNavbar {
  background-color: #343a40 !important;
  padding: 1% 2% !important;
  font-size: 20px;
}

.myLinks {
  margin-left: 50px;
  font-size: 20px;
}

.productsContent,
.aboutContent,
.homeContent {
  padding: 50px;
}

.navLink {
  color: #87a1bb !important;
  font-size: 20px;
  margin: 0 5%;
}

.selectedLink {
  color: #faad79 !important;
  font-size: 20px;
  margin: 0 5%;
}

.listProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.productCard {
  border: 2px dashed #343a40;
  border-radius: 15px;
  margin: 2%;
  padding: 2% 0;
}

.productDetails {
  margin: 4% 0;
}

.productImg {
  width: 300px;
  margin-bottom: 10px;
}

.prodName {
  margin: 40px;
}

.productLink {
  color: #9cbad8;
  text-decoration: none !important;
}

.productLink:hover {
  color: #faad79;
}

/* .loginBtn {
  margin-right: ;
} */
